@media screen and (min-width: 1570px) {
	.fitness .bg1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 717px;
	}
	.fitness .bg2 {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 1100px;
	}
	.walking .bg1 {
position: absolute;
top: 0;
right: 5%;
width: 1533px;
}
.walking .bg2 {
position: absolute;
bottom: 0%;
right: 0;
width: 1155px;
}
.diet .bg1 {
	position: absolute;
top: 0%;
right: 6%;
width: 1114px;
}
.diet .bg2 {
	position: absolute;
bottom: 0%;
right: 0%;
width: 729px;
}

.meditation .bg1 {
position: absolute;
top: 0%;
right: 0%;
width: 1117px;
}
.meditation .bg2 {
position: absolute;
bottom: 0%;
right: 4%;
width: 1350px;
}

.yoga .bg1 {
position: absolute;
top: 0%;
right: 7%;
width: 779px;
}
.yoga .bg2 {
	position: absolute;
bottom: 0%;
right: 0%;
width: 974px;
}

.running .bg1 {
position: absolute;
top: 0%;
right: 12%;
width: 779px;
}
.running .bg2 {
position: absolute;
bottom: 0%;
right: 0%;
width: 839px;
}

}

@media screen and (max-width: 1280px) {
	.slick-dots {
    left: 0;
	}

	.fitness .bg1 {
position: absolute;
top: 0;
right: 0;
width: 509px;
}
.fitness .bg2 {
	position: absolute;
bottom: 0%;
right: 5%;
width: 743px;
}
	.walking .bg1 {
position: absolute;
top: 0;
right: 6%;
width: 1154px;
}
.walking .bg2 {
position: absolute;
bottom: 0%;
right: 0;
width: 825px;
}
.diet .bg1 {
	position: absolute;
    top: 0%;
    right: 16%;
    width: 685px;
}
.diet .bg2 {
	position: absolute;
    bottom: 0%;
    right: 0%;
    width: 584px;
}

.meditation .bg1 {
	    position: absolute;
        top: 0%;
    right: 0%;
    width: 740px;
}
.meditation .bg2 {
	position: absolute;
    bottom: 0%;
    right: -2%;
    width: 1154px;
}

.yoga .bg1 {
	    position: absolute;
    top: 0%;
    right: 8%;
    width: 567px;
}
.yoga .bg2 {
	position: absolute;
    bottom: 0%;
    right: 0%;
    width: 772px;
}

.running .bg1 {
	    position: absolute;
    top: 0%;
    right: 15%;
    width: 579px;
}
.running .bg2 {
	    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 634px;
}

}

@media screen and (max-width: 970px) {
	.shadow {
    width: 242px;
    height: 488px;
        border-radius: 30px;
	}
	.slick-dots {
    left: 0;
    bottom: 0;
	}
	.image__screen img {
    width: 227px;
	height: 467px;
	}
	.image__phone img {
    width: 256px;
	height: 496px;
	}
	.watch img {
    height: 319px;
    width: 185px;
	}
	.image__watch img {
    width: 132px;
    height: 151px;
    position: absolute;
    bottom: 84px;
    right: 32px;
	}
	.image__phone {
    margin-left: 35px;
	}
	.image__screen {
    top: 13px;
    right: 15px;
	}
}
@media screen and (max-width: 910px) {
	.slick-dots {
    left: 0px;
	}
}

@media screen and (max-width: 860px) {
	.slick-dots {
    bottom: -31px;
    left: 0;
	}
	.slick-dots li {
    margin-right: 9px;
	}	
	.shadow {
    width: 169px;
    height: 359px;
    border-radius: 20px;
}
	h2 {
    font-size: 32px;
	}
	.information__name img {
    width: 60px;
    height: 60px;
	}
	.wrap {
		width: 60px;
		height: 60px;
		/*margin: 0 auto;*/
	}
	.meditation_svg {
		width: 42px;
		height: 24px;
		top: 18px;
	}
	.fitness_svg {
    height: 37px;
	}
	.information__paragraph {
    font-size: 16px;
    line-height: 26px;
	}
	.button_click {
    height: 47px;
    width: 133px;
	}
	.image__screen img {
    width: 161px;
	height: 350px;
	}
	.image__phone img {
    width: 188px;
	height: 370px;
	}
	.watch img {
    height: 267px;
    width: 162px;
	}
	.image__watch img {
    width: 115px;
	height: 140px;
	bottom: 63px;
	right: 41px;
	}
	.watch {
    right: -120px;
	}
	.fitness .bg1, .fitness .bg2 {
	display: none;
	}
	.walking .bg1, .walking .bg2 {
		display: none;
	}
	.diet .bg1, .diet .bg2 {
		display: none;
	}
	.meditation .bg1, .meditation .bg2 {
		display: none;
	}
	.yoga .bg1, .yoga .bg2 {
		display: none;
	}
	.running .bg1, .running .bg2 {
		display: none;
	}
	.information {
    margin-top: 65px;
	}
	.image__screen {
    top: 10px;
    right: 13px;
	}
}	

@media screen and (max-width: 806px) {
	.header {
		padding: 0;
	}
	.contact_us {
		margin-right: 20px;
		width: 108px;
		height: 32px;
		line-height: 32px;
	}
	.modal-window h3 {
		width: 280px;
		margin: 0 auto;
		margin-bottom: 33px;
	}
	.modal-window {
    top: 72px;
	}
	.modal-window-good {
		top: 72px;
	}
	.go_out {
    top: 23px;
	}	
	form input {
		width: 280px;
		margin: 0 auto;
	}
	form .email {
		margin:15px auto;
	}
	form textarea {
		width: 280px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	form .submit {
		width: 280px;
		margin: 0 auto;
		height: 46px;
		line-height: 46px;
	}
	.wrap {
	margin: 0 auto;
	}
	.main__slider {
	width: 280px;
	margin:0 auto;
	}
	.slick-dots li {
    margin-right: 21px;
	}	
	.image__watch {
	bottom: -22px;
	right: -142px;
	}
	body {
	padding: 16px 0 28px 0;
	}
	.logotype {
    padding: 0 0 18px 20px;
	}
	.container {
	padding: 0;
	}
	.image {
    margin-right: 130px;
	}
	.logo {
	display: none;
	}
	.logo__mobile {
	display: block;
	}
	.information {
    margin-top: 0px;
	}
	.information__name {
    justify-content: center;
	}
	.slider {
    justify-content: center;
	}
	h2 {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-top: 19px;
	}
	.information__paragraph {
    text-align: center;
    margin-bottom: 28px;
	}
	.image__screen {
    position: absolute;
    top: 11px;
    right: 117px;
	}
	.image {
		display: none;
	}
	.image__phone {
    margin: 0 auto;
    width: 188px;
	}
	.image__watch img {
    right: 207px;
    z-index: -2;
	}
	.information__download {
		display: none;
	}
	.button_click {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
	}
	.slick-dots {
    bottom: -16px;
    left: calc(50% - 93px);
	}
	.image__mobile, .mobile__download {
	display: block;
	}
	.menu {
		display: none;
	}
	.menu__mobile {
		display: block;
	}
	.footer {
		flex-direction: column;
		align-items: center;
		margin-top: 54px;
		font-size: 12px;
	}
	.creator {
		margin-top: 13px;
	}
	.image__screen {
    z-index: 99;
	}
	.container {
		height: 100%;
	}
	.watch {
	right: 64px;
    z-index: -25;
	height: 240px;
	width: 140px;
	bottom: 5px;
	}
}
@media screen and (max-width: 450px) {
	.container {
		height: 100%;
	}
	.information__paragraph {
    width: 280px;
	}
	.image__screen {
    right: 60px;
	}
	.watch {
    right: 8px;
	}
	.image__watch {
    right: -200px;
	}
	.image__watch img {
    right: 207px;
	}
}


